[Desktop Entry]
Encoding=UTF-8
Name=Californiacoin Core
Comment=Connect to the Californiacoin P2P Network
Comment[de]=Verbinde mit dem Californiacoin peer-to-peer Netzwerk
Comment[fr]=Californiacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Californiacoin, eşten eşe kriptografik sanal para birimi
Exec=californiacoin-qt %u
Terminal=false
Type=Application
Icon=californiacoin128
MimeType=x-scheme-handler/californiacoin;
Categories=Office;Finance;
