
## <summary>policy for californiacoin</summary>


########################################
## <summary>
##	Transition to californiacoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`californiacoin_domtrans',`
	gen_require(`
		type californiacoin_t, californiacoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, californiacoin_exec_t, californiacoin_t)
')


########################################
## <summary>
##	Execute californiacoin server in the californiacoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`californiacoin_initrc_domtrans',`
	gen_require(`
		type californiacoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, californiacoin_initrc_exec_t)
')


########################################
## <summary>
##	Search californiacoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`californiacoin_search_lib',`
	gen_require(`
		type californiacoin_var_lib_t;
	')

	allow $1 californiacoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read californiacoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`californiacoin_read_lib_files',`
	gen_require(`
		type californiacoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, californiacoin_var_lib_t, californiacoin_var_lib_t)
')

########################################
## <summary>
##	Manage californiacoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`californiacoin_manage_lib_files',`
	gen_require(`
		type californiacoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, californiacoin_var_lib_t, californiacoin_var_lib_t)
')

########################################
## <summary>
##	Manage californiacoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`californiacoin_manage_lib_dirs',`
	gen_require(`
		type californiacoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, californiacoin_var_lib_t, californiacoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a californiacoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`californiacoin_admin',`
	gen_require(`
		type californiacoin_t;
		type californiacoin_initrc_exec_t;
		type californiacoin_var_lib_t;
	')

	allow $1 californiacoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, californiacoin_t)

	californiacoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 californiacoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, californiacoin_var_lib_t)

')

