[Unit]
Description=Californiacoin's distributed currency daemon
After=network.target

[Service]
User=californiacoin
Group=californiacoin

Type=forking
PIDFile=/var/lib/californiacoind/californiacoind.pid
ExecStart=/usr/bin/californiacoind -daemon -pid=/var/lib/californiacoind/californiacoind.pid \
-conf=/etc/californiacoin/californiacoin.conf -datadir=/var/lib/californiacoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
